<!DOCTYPE html>
<html>
<head>
    <title>Student Dashboard</title>
</head>
<body>
    <h1>Welcome Student!</h1>

    <h3>Select Class</h3>
    <form method="POST">
        <select name="class">
            <option>4th</option>
            <option>5th</option>
            <option>6th</option>
            <option>7th</option>
            <option>8th</option>
            <option>9th</option>
            <option>10th</option>
            <option>11th</option>
            <option>12th</option>
        </select>

        <h3>Select Subject</h3>
        <select name="subject">
            <option>Maths</option>
            <option>English</option>
            <option>Science</option>
            <option>Computer Science</option>
        </select>

        <br><br>
        <button type="submit">Show Quiz</button>
    </form>
</body>
</html>
